<%- include("partials/header") -%>

<aside class="left-wrapper">
  <div class="top-corner-bar">
    <img src="public/images/hamburger.svg" alt="hamburger" id="hamburger">
    <a href="/">
      <img src="public/images/brand-logo-2.svg" alt="brand-logo" class="brand-logo">
    </a>
  </div>
  <%if(currentCategory === "Overview"){%>
  <div id="overview" class="group group-selected" onclick="location.href='/category/overview'">
    <%}else{%>
    <div id="overview" class="group" onclick="location.href='/category/overview'">
      <%}%>
    <img src="public/images/overview-tiles.svg" alt="overview-tiles" class="side-icon">
    <div class="side-title"> Overview</div>
  </div>

  <%if(currentCategory === "Notes"){%>
  <div id="notes" class="group group-selected" onclick="location.href='/category/notes';">
    <%}else{%>
      <div id="notes" class="group" onclick="location.href='/category/notes';">
      <%}%>
    <img src="public/images/notes-pen.svg" alt="notes-pen" class="side-icon">
    <div class="side-title">Notes</div>
  </div>

  <%if(currentCategory === "Tasks"){%>
  <div id="tasks" class="group group-selected" onclick="location.href='/category/tasks';">
    <%}else{%>
  <div id="tasks" class="group" onclick="location.href='/category/tasks';">
      <%}%>
    <img src="public/images/tasks-checks.svg" alt="tasks-checks" class="side-icon">
    <div class="side-title">Tasks</div>
  </div>

  <%if(currentCategory === "Archives"){%>
  <div id="archives" class="group group-selected" onclick="location.href='/category/archives'">
    <%}else{%>
  <div id="archives" class="group" onclick="location.href='/category/archives'">
      <%}%>
    <img src="public/images/archives-bin.svg" alt="archives" class="side-icon">
    <div class="side-title">Archives</div>
  </div>

</aside>
<header>
  <img src="public/images/magnify-glass.svg" alt="magnifying-glass" id="search-img">
  <input id="search-bar" placeholder="Search notes"></input>
</header>
<div class="bg"></div>
<div class="tabs">
  <form class="form-tab" action="" method="post">
    <div class="sections">
      <% tabs.forEach(tab=>{ %>
      <% if(currentTab.name === tab.name){%>
      <button type=submit class="tab tab-selected" name="buttonTab" value="<%=tab.name%>"> <%=tab.name%> </button>
      <% }else{%>
      <button type=submit class="tab" name="buttonTab" value="<%=tab.name%>"> <%=tab.name%> </button>
      <% }%>
      <%})%>
    </div>
    </form>
    <button class="btn-tab-add"><img src="public/images/plus-icon-rounded.svg" alt="plus icon"></button>
  </div>
  <button class="btn-note-add">Add Note</button>
  <div class="bg-image"></div>

  <main>
    <% currentTab.items.forEach(card=>{ %>
    <div class="card">
      <form class="form-send-id" action="/category/<%=currentCategory%>/update" method="post">
        <button class="card-close"><img src="public/images/close-btn.svg" alt="close button" class="btn-close"></button>
        <input type="hidden" name="itemID" value="<%=card._id%>">
        <div class="card-date"> <%=card.date%> </div>
        <div class="card-title"> <%=card.title%> </div>
        <div class="card-content"> <%=card.content%> </div>
      </form>
    </div>
    <%})%>

  </main>


  <!-- <div class="overlay-note-creator">
  <form action="" method="post">
    <input class="note-title" placeholder="Title" name="noteTitle" autocomplete="off"></input>
    <textarea class="note-content" placeholder="Take a note..." name="noteContent" autocomplete="off"></textarea>
    <div class="overlay-buttons">
      <button type="submit" class="btn-creator-add-note" name="buttonSubmitNote">Add note</button>
      <button type="button" class="btn-creator-cancel">Cancel</button>
    </div>
  </form>
</div> -->

  <!-- <div class="caution">
  <div class="caution-msg">Are you sure you want to <b>delete</b> this note?</div>
  <div class="btn-caution">
    <button class="btn-caution-yes">Yes</button>
    <button class="btn-caution-no">No</button>
  </div>
</div> -->

<div class="bg-blur"></div>
<script src="index.js"></script>

<%- include("partials/footer") -%>